<div>
<%= gmaps4rails_map(@json, { "processing" => 'json' ,"map_zoom" => 11, "map_center_latitude" => 45.11663  , "map_center_longitude" => 7.70948}) %>
</div>
<div>
  <h2>Traffico</h2>
  <p>Velocita' media: <%=@traffic_data[:avarage_speed] %></p>
  <p>Veicoli in transito: <%=@traffic_data[:balance] %> al minuto</p>
</div>

<div>
  <h2>Parcheggi entro 500 mt</h2>
  <ul>
    <% @parking_data.keys.each {|park| %>

    <li><strong><%=park %>  <%= @parking_data[park]['name'] %></strong> :  <%= @parking_data[park]['free'] %> Posti Liberi su  <%= @parking_data[park]['total'] %></li>

    <% } %>

  </ul>
</div>