<!DOCTYPE html>
<html>
<head>
  <title>Trip2to</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
 <%= javascript_include_tag "jquery.json.min" %>
 <%= javascript_include_tag "jquery.jscrollpane.min" %>

  <%= yield :head %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="loading" style="display:none; background:#c00; color:#fff">
 Loading
</div>

<%= yield %>
<br/>
<hr/>
 <%= yield :scripts %>
</body>
</html>
